<div id="floating-action-button">
    <div class="navbar navbar-material-eclair navbar-fixed-top">
            <i class="fa fa-home fa-2x"></i>
        <div class="navbar-header">
            <h1 class="section-title">PropertyBook</h1>
        </div>
        <div  id="navbar-collapse2" >
            <ul class="nav navbar-nav navbar-right">
                <% if(!session.isLoggedIn){ %>
                    <li><a href="/login" class="alink-color" role="button" data-toggle="modal">Login</a></li>
                    <li class="nav-menu-divider">|</li>
                    <li><a href="/register" class="alink-color" role="button" data-toggle="modal">Register</a></li>
                <% } else { %>
                    <li><a href="/logout" class="alink-color" role="button" data-toggle="modal">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <!--<button class="btn btn-fab btn-material-lightgrey" id="opensource"><i class="mdi-action-open-in-new"></i><div class="ripple-wrapper"></div></button>-->

</div>




