<div id="floating-action-button">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <span class="section-title"><%= brand %></span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Posts</a></li>
                <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
            </ul>
        </div>
    </div>
    <!--<button class="btn btn-fab btn-material-lightgrey" id="opensource"><i class="mdi-action-open-in-new"></i><div class="ripple-wrapper"></div></button>-->

</div>




