<!-- SIDEBAR -->
<div data-sidebar="true" data-force-toggle="true" data-locked="true"
     class="sidebar-trigger sidebar-force-open sidebar-locked">
    <a class="sidebar-toggle" href="#">
        <i class="fa fa-bars fa-2"></i>
    </a>

    <div class="sidebar-wrapper sidebar-default sidebar-open-init">
        <div class="sidebar-scroller">
            <ul class="sidebar-menu">
                <li class="sidebar-item"><a href="/">Latest Posts</a></li>
                <li class="sidebar-item"><a href="/profile">Profile</a></li>
                <li class="sidebar-item"><a href="/find">People / Companies</a></li>
                <li class="sidebar-item"><hr></li>
                <li class="sidebar-item"><a href="#">Hot Properties</a></li>
                <li class="sidebar-item"><hr></li>
                <li class="sidebar-item"><a href="#">About us</a></li>
                <li class="sidebar-item"><a href="#">Contact us</a></li>
            </ul>
        </div>
    </div>
</div>