<!-- SIDEBAR -->
<div data-sidebar="true" data-force-toggle="true" data-locked="true"
     class="sidebar-trigger sidebar-force-open sidebar-locked">
    <a class="sidebar-toggle" href="#">
        <i class="fa fa-bars fa-2"></i>
    </a>

    <div class="sidebar-wrapper sidebar-default sidebar-open-init">
        <div class="sidebar-scroller">
            <ul class="sidebar-menu">

                <% if(session.isLoggedIn){ %>
                <li class="sidebar-item">
                    <a href="/profile">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <img class="circle" style="width: 100px; height: 100px;" src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" alt="icon">
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <% } %>

                <li class="sidebar-item"><a href="/">Home</a></li>
                <li class="sidebar-item"><a href="/posts">Latest Posts</a></li>
                <li class="sidebar-item"><a href="/search">People / Companies</a></li>
                <li class="sidebar-item"><hr></li>
                <li class="sidebar-item"><a href="/hot">Hot Properties</a></li>
                <li class="sidebar-item"><hr></li>
                <li class="sidebar-item"><a href="#">About us</a></li>
                <li class="sidebar-item"><a href="#">Contact us</a></li>
            </ul>
        </div>
    </div>
</div>