<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>

<div class="homewrapper">

    <div id="screen01" class="fullscreen background parallax logo" style="background-color: #03a9f4;" data-img-width="1600" data-img-height="1064" data-diff="100">
        <div class="content-a">
            <div class="content-b">
                <h1 style="padding-right:0px;">welcome to</h1>
                <h2 style="padding-right:0px;" >propertybook</h2>
            </div>
        </div>

        <div id="getStartedBtnTxt" >
            <p style="">Get Started</p>
        </div>
        <button id="getStartedBtn" class="btn btn-getstarted btn-info btn-fab mdi-hardware-keyboard-arrow-down btn-position"></button>

    </div>

    <div id="screen02" class="not-fullscreen background parallax" style="background-color: #ffffff;" data-img-width="1600" data-img-height="1064" data-diff="100">
        <div class="content-a">
            <div class="content-b">
                white image block
            </div>
        </div>

    </div>

    <section class="not-fullscreen">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
        <button  id="getStartedContent" class="btn btn-getstarted btn-primary btn-fab mdi-hardware-keyboard-arrow-down btn-position"></button>
    </section>

    <div id="screen03" class="fullscreen background parallax logo2" style="background-color: #e91e63;" data-img-width="1600" data-img-height="1064" data-diff="100" data-oriz-pos="100%">
        <div class="content-a">
            <div class="content-b">
                <h1 style="padding-right:0px;">our</h1>
                <h2 style="padding-right:0px;" >services</h2>
            </div>
        </div>
        <button id="ourServices" class="btn btn-getstarted btn-material-pink btn-fab mdi-hardware-keyboard-arrow-down btn-position"></button>
    </div>

    <div  id="screen04" class="not-fullscreen background parallax" style="background-color: #ffffff;" data-img-width="1600" data-img-height="1064" data-diff="100">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </div>

    <section class="not-fullscreen">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
        <button id="serviceContent" class="btn btn-getstarted btn-primary btn-fab mdi-hardware-keyboard-arrow-down btn-position"></button>
    </section>

    <div id="screen05" class="fullscreen background parallax logo3" style="background-color: #9c27b0;" data-img-width="1600" data-img-height="1064" data-diff="100" data-oriz-pos="100%">
        <div class="content-a">
            <div class="content-b">
                <h1 style="padding-right:0px;">our</h1>
                <h2 style="padding-right:0px;" >Prices</h2>
            </div>
        </div>
        <button id="ourPrices" class="btn btn-getstarted btn-material-purple btn-fab mdi-hardware-keyboard-arrow-down btn-position"></button>
    </div>

    <div id="screen06" class="not-fullscreen background parallax" style="background-color: #ffffff;" data-img-width="1600" data-img-height="1064" data-diff="100">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </div>

    <section class="not-fullscreen">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
        <button id="priceContent" class="btn btn-getstarted btn-primary btn-fab mdi-hardware-keyboard-arrow-up btn-position"></button>
    </section>

</div>

<!-- include jQuery -->
<% include partials/scripts.ejs %>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/homePage.js"></script>

</body>
</html>