<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>

<% include partials/navbar.ejs %>

<div class="section-content-header">
    <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li class="active">Latest post</li>
    </ul>
</div>

<div class="outerWrapper">

    <div class="innerWrapper">

        <% include partials/sidebar.ejs %>

        <div class="container">

            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-home"></i> Hot Property</h3>
                            <div class="panel-icon-holder">
                                <a href="#"><i class="mdi-action-room"></i></a>
                                <a href="#"><i class="mdi-communication-call"></i></a>
                                <a href="#"><i class="mdi-image-photo"></i></a>
                                <a href=""><i class="mdi-content-archive"></i></a>
                            </div>
                        </div>
                        <div class="panel-info-header">
                            <p> <i class="mdi-social-group"></i> Person/Company this property is linked to</p> <i class="mdi-navigation-chevron-right"></i>
                        </div>
                        <div class="panel-body">
                            For every 5 Properties added a company can set one property as a hot property
                        </div>
                    </div><!-- panel -->

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-home"></i> Hot Property</h3>
                            <div class="panel-icon-holder">
                                <a href="#"><i class="mdi-action-room"></i></a>
                                <a href="#"><i class="mdi-communication-call"></i></a>
                                <a href="#"><i class="mdi-image-photo"></i></a>
                                <a href=""><i class="mdi-content-archive"></i></a>
                            </div>
                        </div>
                        <div class="panel-info-header">
                            <p> <i class="mdi-social-group"></i> Person/Company this property is linked to</p> <i class="mdi-navigation-chevron-right"></i>
                        </div>
                        <div class="panel-body">
                            For every 5 Properties added a company can set one property as a hot property
                        </div>
                    </div><!-- panel -->

                </div><!-- col-md-6 -->
                <div class="col-md-6">

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-home"></i> Hot Property</h3>
                            <div class="panel-icon-holder">
                                <a href="#"><i class="mdi-action-room"></i></a>
                                <a href="#"><i class="mdi-communication-call"></i></a>
                                <a href="#"><i class="mdi-image-photo"></i></a>
                                <a href=""><i class="mdi-content-archive"></i></a>
                            </div>
                        </div>
                        <div class="panel-info-header">
                            <p> <i class="mdi-social-group"></i> Person/Company this property is linked to</p> <i class="mdi-navigation-chevron-right"></i>
                        </div>
                        <div class="panel-body">
                            For every 5 Properties added a company can set one property as a hot property
                        </div>
                    </div><!-- panel -->

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-home"></i> Hot Property</h3>
                            <div class="panel-icon-holder">
                                <a href="#"><i class="mdi-action-room"></i></a>
                                <a href="#"><i class="mdi-communication-call"></i></a>
                                <a href="#"><i class="mdi-image-photo"></i></a>
                                <a href=""><i class="mdi-content-archive"></i></a>
                            </div>
                        </div>
                        <div class="panel-info-header">
                            <p> <i class="mdi-social-group"></i> Person/Company this property is linked to</p> <i class="mdi-navigation-chevron-right"></i>
                        </div>
                        <div class="panel-body">
                            For every 5 Properties added a company can set one property as a hot property
                        </div>
                    </div><!-- panel -->

                </div><!-- col-md-6 -->
            </div><!-- row -->

        </div>

    </div>
</div>

<% include partials/scripts.ejs %>

</body>

</html>




