<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>

  <% include partials/navbar.ejs %>

  <div class="outerWrapper">

    <div class="innerWrapper">

      <% include partials/sidebar.ejs %>

      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Post Examples</h4></div>
              <div class="panel-body">
                <div class="list-group">
                  <a href="http://bootply.com/tagged/modal" class="list-group-item">Lorem Ipsom</a>
                  <a href="http://bootply.com/tagged/datetime" class="list-group-item">Lorem Ipsom</a>
                  <a href="http://bootply.com/tagged/datatable" class="list-group-item">Lorem Ipsom</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Post Examples</h4></div>
              <div class="panel-body">
                <div class="list-group">
                  <a href="http://bootply.com/tagged/modal" class="list-group-item">Lorem Ipsom</a>
                  <a href="http://bootply.com/tagged/datetime" class="list-group-item">Lorem Ipsom</a>
                  <a href="http://bootply.com/tagged/datatable" class="list-group-item">Lorem Ipsom</a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

  <% include partials/scripts.ejs %>

  </body>

</html>




