<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>

  <% include partials/navbar.ejs %>

  <div class="outerWrapper">

    <div class="innerWrapper">

      <!-- SIDEBAR -->
      <div data-sidebar="true" data-force-toggle="true" data-locked="true"
           class="sidebar-trigger sidebar-force-open sidebar-locked">
        <a class="sidebar-toggle" href="#">
          <i class="fa fa-sidebar-toggle"></i>
        </a>

        <div class="sidebar-wrapper sidebar-default sidebar-open-init">
          <div class="sidebar-scroller">
            <ul class="sidebar-menu">
              <li class="sidebar-item"><a href="#">Item 11</a></li>
              <li class="sidebar-item"><a href="#">Item 12</a></li>
              <li class="sidebar-item"><a href="#">Item 13</a></li>
              <li class="sidebar-item"><a href="#">Item 14</a></li>
              <li class="sidebar-item"><a href="#">Item 15</a></li>
              <li class="sidebar-item"><a href="#">Item 16</a></li>
              <li class="sidebar-item"><a href="#">Item 17</a></li>
              <li class="sidebar-item"><a href="#">Item 18</a></li>
              <li class="sidebar-item"><a href="#">Item 19</a></li>
              <li class="sidebar-item"><a href="#">Item 20</a></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="container">
      </div>
    </div>
  </div>

  <% include partials/scripts.ejs %>

  </body>

</html>




