<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>

<% include partials/navbar.ejs %>

<div class="section-content-header">
    <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li class="active">Register</li>
    </ul>
</div>

<div class="outerWrapper">

    <div class="innerWrapper">

        <% include partials/sidebar.ejs %>

        <div class="container">

            <form action="/register" role="form" method="post" class="form-horizontal">
                <fieldset>
                    <legend>Enter details below to create your account</legend>

                    <% if (messages.info) { %>
                        <div class="alert alert-danger">
                            <ul>
                                <% for(var i=0; i<messages.info.length; i++) { %>
                                    <li><%= messages.info[i] %></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>

                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label">Your Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Password Confirm</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password Confirm">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <p> <small><span style="font-style: italic;">Once you have registered please follow the link in your email to complete your profile information.</span></small> </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="/login" class="btn btn-default">Login</a>
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>

    </div>
</div>

<% include partials/scripts.ejs %>

</body>

</html>




