<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>

<% include partials/navbar.ejs %>

<div class="section-content-header">
    <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li class="active">Latest post</li>
    </ul>
</div>

<div class="outerWrapper">

    <div class="innerWrapper">

        <% include partials/sidebar.ejs %>

        <div class="container">

            <div class="row">
                <div class="col-md-8">

                    <div class="panel animated bounceInUp panel-material-pink">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-home"></i> Rental</h3>
                            <div class="panel-icon-holder">
                                <ul>
                                    <li class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="mdi-content-sort"></i></a>
                                        <ul class="dropdown-menu label-material-pink">
                                            <li> <a href="#"><i class="mdi-action-room"></i></a></li>
                                            <li><a href="#"><i class="mdi-communication-call"></i></a></li>
                                            <li><a href="#"><i class="mdi-image-photo"></i></a></li>
                                            <li><a href=""><i class="mdi-content-archive"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-info-header">
                            <p> <i class="mdi-social-group"></i> Person/Company</p> <i class="mdi-navigation-chevron-right"></i>
                        </div>
                        <div class="pic-source">
                            <img width="100%" src="http://lorempixel.com/output/city-q-c-800-600-2.jpg" alt=""/>
                        </div>
                        <div class="panel-body">
                            For every 5 Properties added a company can set one property as a hot property
                        </div>
                    </div><!-- panel -->
                    <div class="panel animated bounceInUp panel-material-pink">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-home"></i> Rental</h3>
                            <div class="panel-icon-holder">
                                <ul>
                                    <li class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="mdi-content-sort"></i></a>
                                        <ul class="dropdown-menu label-danger">
                                            <li> <a href="#"><i class="mdi-action-room"></i></a></li>
                                            <li><a href="#"><i class="mdi-communication-call"></i></a></li>
                                            <li><a href="#"><i class="mdi-image-photo"></i></a></li>
                                            <li><a href=""><i class="mdi-content-archive"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-info-header">
                            <p> <i class="mdi-social-group"></i> Person/Company</p> <i class="mdi-navigation-chevron-right"></i>
                        </div>
                        <div class="pic-source">
                            <img width="100%" src="http://lorempixel.com/output/city-q-c-800-600-2.jpg" alt=""/>
                        </div>
                        <div class="panel-body">
                            For every 5 Properties added a company can set one property as a hot property
                        </div>
                    </div><!-- panel -->
                    <div class="panel animated bounceInUp panel-material-pink">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-home"></i> Rental</h3>
                            <div class="panel-icon-holder">
                                <ul>
                                    <li class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="mdi-content-sort"></i></a>
                                        <ul class="dropdown-menu label-danger">
                                            <li> <a href="#"><i class="mdi-action-room"></i></a></li>
                                            <li><a href="#"><i class="mdi-communication-call"></i></a></li>
                                            <li><a href="#"><i class="mdi-image-photo"></i></a></li>
                                            <li><a href=""><i class="mdi-content-archive"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-info-header">
                            <p> <i class="mdi-social-group"></i> Person/Company</p> <i class="mdi-navigation-chevron-right"></i>
                        </div>
                        <div class="pic-source">
                            <img width="100%" src="http://lorempixel.com/output/city-q-c-800-600-2.jpg" alt=""/>
                        </div>
                        <div class="panel-body">
                            For every 5 Properties added a company can set one property as a hot property
                        </div>
                    </div><!-- panel -->
                    <div class="panel animated bounceInUp panel-material-pink">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-home"></i> Rental</h3>
                            <div class="panel-icon-holder">
                                <ul>
                                    <li class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="mdi-content-sort"></i></a>
                                        <ul class="dropdown-menu label-danger">
                                            <li> <a href="#"><i class="mdi-action-room"></i></a></li>
                                            <li><a href="#"><i class="mdi-communication-call"></i></a></li>
                                            <li><a href="#"><i class="mdi-image-photo"></i></a></li>
                                            <li><a href=""><i class="mdi-content-archive"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-info-header">
                            <p> <i class="mdi-social-group"></i> Person/Company</p> <i class="mdi-navigation-chevron-right"></i>
                        </div>
                        <div class="pic-source">
                            <img width="100%" src="http://lorempixel.com/output/city-q-c-800-600-2.jpg" alt=""/>
                        </div>
                        <div class="panel-body">
                            For every 5 Properties added a company can set one property as a hot property
                        </div>
                    </div><!-- panel -->

                </div><!-- col-md-6 -->

                <div class="add-row col-md-4">

                    <div class="panel animated zoomIn panel-material-pink">
                        <div class="panel-body">
                            Advertise
                        </div>
                    </div><!-- panel -->

                    <div class="panel animated zoomIn panel-material-pink">
                        <div class="panel-body">
                            Advertise
                        </div>
                    </div><!-- panel -->

                    <div class="panel animated zoomIn panel-material-pink">
                        <div class="panel-body">
                            Advertise
                        </div>
                    </div><!-- panel -->

                </div>

            </div><!-- row -->

        </div>

    </div>
</div>

<% include partials/scripts.ejs %>

<script>

    $(document).ready(function() {

        $('.rentals').addClass('not-active')

        //Clicks
        $('.dropdown-toggle').click(function() {
            $('.dropdown-toggle').removeClass('animated swing');
            $(this).addClass('animated swing');
            $('.dropdown-menu li').addClass('animated bounceIn');
        });
    });


</script>

</body>

</html>




