<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>

<% include partials/navbar.ejs %>

<div class="section-content-header">
    <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li><a href="/profile">Profile</a></li>
        <li class="active">Settings</li>
    </ul>
</div>

<div class="outerWrapper">

    <div class="innerWrapper">

        <% include partials/sidebar.ejs %>

        <div class="container">


        </div>

    </div>
</div>

<% include partials/scripts.ejs %>

</body>

</html>




