$break-large:1280px;
$break-large-medium:991px;
$break-medium:768px;
$break-small:480px;
$menu-hide:1008px;

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  @media screen and (max-width: $break-medium) {
    font-size: 32px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 18px;
  }
}
h2 {
  font-size: 36px;
}


.navbar i {
  position:absolute; color:#E3F2FD; margin-left:155px;
  @media screen and (max-width: $break-small) {
    margin-left:0px;
    margin-top: 4px;
  }

}
#materialPreloader {
  z-index: 999999;
  background: white;
  margin-top:0px;
}//materialPreloader

.navbar-header {
  .section-title {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    @media screen and (max-width: $break-medium) {
     // font-size: 32px;
    }
    @media screen and (max-width: $break-small) {
      //font-size: 18px;
      display:none;
    }
  }//section-title
}//navbar-header

.sidebar-wrapper {
  top: 50px;

}

.sidebar-toggle {

  top:45px;
  color: white!important;
  @media screen and (max-width: $break-small) {
    //top: 45px!important;
  }
}

.nav > li {
  position: relative;
  display: block;
  float: left!important;
  margin-bottom: 20px!important;
}

.navbar-nav {
  /* margin: 7.5px -15px; */
  top: 0!important;
  margin-top: 0!important;
  position: absolute!important;
  right: 0!important;
  @media screen and (max-width: $break-small) {
   // left: 20px!important;
    //margin-top: 80px!important;
  }
}

.nav-menu-divider {
  color:white;
  margin-top: 14px;
  @media screen and (max-width: $break-large) {
    margin-top: 14px;
  }
}

#floating-action-button {
  .navbar {
    padding-top: 7px;
//    padding-bottom: 90px;
    padding-left: 20px;
//    background-image: url("../img/header_right_bg.png");
    background-repeat: no-repeat;
    background-position: right;
  }//navbar

  .btn {
    margin: -50px 20px 20px 20px;
    float:right;
    color: #009587;

    @media screen and (max-width: $break-medium) {
      display:none;
    }
    @media screen and (max-width: $break-small) {
      display:none;
    }
  }

  h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
}

.section-content-header {
  position:fixed;
  width:100%;
  height:50px;
  background: #2196F3;
  top: 50px;
  box-shadow: 0px 2px 5px #667084;
  z-index: 1000;

  p {
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    width: 200px;
    height:50px;
    padding-top:15px;
    margin-left: 50%;


    @media screen and (max-width: $break-large-medium) {
      margin-left: auto;
    }
  }
}

.outerWrapper {
  position: relative;
  top:0;
  left: 0;
  margin-top:150px;

  .innerWrapper {
    position: relative;
  }//innerWrapper
}//outerWrapper


.alink-color {
  color:white!important;
  border: none!important;
}

.panel-heading {
  padding: 25px 15px!important;
}

.panel-icon-holder {
  float:right;
  position:relative;
  margin-top:-20px;

  i {
    font-size: 20px;
    color: white!important;
  }

  a:hover {
    color: white!important;
  }
}

.panel-info-header {
  width: 100%;
  height:50px;
  font-style: italic;
  background: #efefef;
   p {
     line-height: 50px;
     padding-left:15px;
     i {
       float:none;
     }
   }

  i {
    float:right;
    margin-top:-42px;
    margin-right: 15px;
  }
}

.profile-pills {
  position:relative;
  margin-top:30px;
  margin-bottom:30px;

  ul {
    li {
      a:hover {
        background: #cdcdcd !important;
      }
    }
    li.active {
      a:hover {
        background: #337ab7!important;
      }
    }
  }
}

.nav > li > a {
  color:#272727;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.nav > .active > a {
  color:#ffffff!important;
}

.badge {
  background-color: #0f9d58;
}

.profileHeader {
  .list-group .list-group-separator:before {
    content: "";
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
  }
}

.breadcrumb {
  padding: 16px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent!important;
  border-radius: 4px;
  margin-left: 210px;
  li {
    a {
      color: white!important;
    }
  }

  @media screen and (max-width: $break-large-medium) {
    margin-left: 5px;
  }
}

.breadcrumb {
  li.active {
    color:white!important;
  }
}




////////////////////////////////////////////////////////////////////////////////////
.navbar-right {
  float: right !important;
   margin-right: 0px!important;
}