h1 {
  font-size: 40px;
  margin-bottom: 10px; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 32px; } }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 18px; } }

h2 {
  font-size: 36px; }

#materialPreloader {
  z-index: 999999;
  background: white;
  margin-top: 0px; }

.navbar-header .section-title {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  white-space: nowrap; }

.sidebar-wrapper {
  top: 148px; }

@media screen and (max-width: 480px) {
  .sidebar-toggle {
    top: -245px !important; } }

.nav > li {
  position: relative;
  display: block;
  float: left !important; }

.navbar-nav {
  /* margin: 7.5px -15px; */
  top: 0 !important;
  margin-top: 0 !important;
  position: absolute !important;
  right: 0 !important; }
  @media screen and (max-width: 480px) {
    .navbar-nav {
      margin-top: 80px !important; } }

.nav-menu-divider {
  margin-top: 19px; }
  @media screen and (max-width: 1280px) {
    .nav-menu-divider {
      margin-top: 14px; } }

#floating-action-button .navbar {
  padding-top: 20px;
  padding-bottom: 90px;
  padding-left: 40px; }
#floating-action-button .btn {
  margin: -50px 20px 20px 20px;
  float: right;
  color: #009587; }
  @media screen and (max-width: 768px) {
    #floating-action-button .btn {
      display: none; } }
  @media screen and (max-width: 480px) {
    #floating-action-button .btn {
      display: none; } }
#floating-action-button h2 {
  padding: 14px;
  margin: 0;
  font-size: 16px;
  font-weight: 400; }

.section-content-header {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #e46e70;
  top: 146px;
  box-shadow: 0px 2px 5px #8f3b3d; }
  .section-content-header p {
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #e64d4f;
    background: #e64d4f;
    width: 200px;
    height: 50px;
    padding-top: 15px;
    margin-left: 50%; }
    @media screen and (max-width: 991px) {
      .section-content-header p {
        margin-left: auto; } }

.outerWrapper {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 250px; }
  .outerWrapper .innerWrapper {
    position: relative; }

a, a:hover, a:focus {
  color: white; }

.navbar-right {
  float: right !important;
  margin-right: 0px !important; }
