$break-large:1280px;
$break-large-medium:991px;
$break-medium:768px;
$break-small:480px;
$menu-hide:1008px;

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  @media screen and (max-width: $break-medium) {
    font-size: 32px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 18px;
  }
}
h2 {
  font-size: 36px;
}

.not-active {
  pointer-events: none;
  cursor: default;
  a {
    background:#EEEEEE!important;
  }
}//not-active

.sidebar-active {
  background-color: #eeeeee;
}//sidebar-active

.navbar i {
  position:absolute; color:#E3F2FD; left:180px;
  @media screen and (max-width: $break-small) {
    left:20px;
    margin-top: 4px;
  }
}//navbar

#materialPreloader {
  z-index: 999999;
  background: white;
  margin-top:0px;
}//materialPreloader

.navbar-header {
  .section-title {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    line-height: 31px;
    margin: 0 auto;
    text-indent: 4px;
    white-space: nowrap;
    text-align: left;
    @media screen and (max-width: $break-medium) {
      // font-size: 32px;
    }
    @media screen and (max-width: $break-small) {
      //font-size: 18px;
      display:none;
    }
  }//section-title
}//navbar-header

.sidebar-wrapper {
  top: 101px;
}//sidebar-wrapper

.sidebar-toggle {
  top:45px;
  color: white!important;
  @media screen and (max-width: $break-small) {
  }
}//sidebar-toggle

.nav > li {
  position: relative;
  display: block;
  float: left!important;
  margin-bottom: 20px!important;
}//.nav > li

.navbar-nav {
  top: 0!important;
  margin-top: 0!important;
  position: absolute!important;
  right: 0!important;
  @media screen and (max-width: $break-small) {

  }
}//navbar-nav

.nav-menu-divider {
  color:white;
  margin-top: 14px;
  @media screen and (max-width: $break-large) {
    margin-top: 14px;
  }
}//nav-menu-divider

#floating-action-button {
  .navbar {
    padding-top: 7px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: right;
  }//navbar

  .btn {
    margin: -50px 20px 20px 20px;
    float:right;
    color: #009587;
    @media screen and (max-width: $break-medium) {
      display:none;
    }
    @media screen and (max-width: $break-small) {
      display:none;
    }
  }
  h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
}//floating-action-button

.section-content-header {
  position:fixed;
  width:100%;
  height:50px;
  background: #2196F3;
  top: 50px;
  box-shadow: 0px 2px 5px #667084;
  z-index: 1000;

  p {
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    width: 200px;
    height:50px;
    padding-top:15px;
    margin-left: 50%;
    @media screen and (max-width: $break-large-medium) {
      margin-left: auto;
    }
  }
}//section-content-header

.outerWrapper {
  position: relative;
  top:0;
  left: 0;
  margin-top:150px;
  display: none;

  .innerWrapper {
    position: relative;
  }//innerWrapper
}//outerWrapper

.homewrapper {
  display:block;
  width:100%;
  height:100%;
}

.alink-color {
  color:white!important;
  border: none!important;
}

.panel-heading {
  padding: 25px 15px!important;
  h3 {
    text-align: left;
    text-indent: 10px;
  }
}

.panel-icon-holder {
  float:right;
  position:relative;
  margin-top:-20px;

  ul li {
    list-style: none;
  }

  .dropdown-menu {
    min-width: 60px;
    //background-color: #4285f4;
    margin-left: -25px;
    margin-top: 21px;
    border-radius: 0;
    box-shadow: none;
  }

  i {
    font-size: 20px;
    color: white!important;
  }

  a:hover {
    color: white!important;
  }

}

.add-row {
  max-width:320px;
  position:fixed;
  right:0;
  padding-left:55px;
  @media screen and (max-width: $break-small) {
    //font-size: 18px;
    display:none;
  }
}

.panel {
  border-radius: 2px;
  border: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
  min-height: 196px;
}

.panel-info-header {
  width: 100%;
  height:50px;
  font-style: italic;
  background: #efefef;
  p {
    line-height: 50px;
    padding-left:15px;
    i {
      float:none;
    }
  }

  i {
    float:right;
    margin-top:-42px;
    margin-right: 15px;
  }
}


.nav > li > a {
  color:#272727;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.nav > .active > a {
  color:#ffffff!important;
}

.badge {
  background-color: #0f9d58;
}

.dropdown-toggle a, a:hover, a:focus {

  text-decoration: none;

}

.breadcrumb {
  padding: 16px 15px;
  //margin-bottom: 20px;
  margin-bottom: 5px;
  list-style: none;
  background-color: transparent!important;
  border-radius: 4px;
  margin-left: 0px;
  li {
    a {
      color: white!important;
    }
  }

  @media screen and (max-width: $break-large-medium) {

  }
}

.breadcrumb {
  li.active {
    color:white!important;
  }
}

.not-active {
  pointer-events: none;
  cursor: default;

  a {
    background: #eeeeee!important;
  }
}

////////////////////////////////////////////////////////////////////////////////////
.navbar-right {
  float: right !important;
  margin-right: 0px!important;
}

.logo {
  display: block;
  background: url(../img/right133.svg);
  background-position: 200% 50%!important;
  background-size: 70%!important;
  background-repeat: no-repeat;
}
.logo2 {
  display: block;
  background: url(../img/division.svg);
  background-position: 170% 50%!important;
  background-size: 60%!important;
  background-repeat: no-repeat;
}
.logo3 {
  display: block;
  background: url(../img/multiplication.svg);
  background-position: 230% 50%!important;
  background-size: 70%!important;
  background-repeat: no-repeat;
}
.logo4 {
  display: block;
  background: url(img/division.svg);
  background-position: 160% 50%!important;
  background-size: 60%!important;
  background-repeat: no-repeat;
}

h1 {
  margin-left:-15px!important;
  margin-right:-15px!important;
  font-family:'Roboto'; font-weight: bold; font-style: normal;
  text-transform: uppercase;
  line-height:0.5em;
  font-size:2.5em;
  width:100%!important;
  text-align: right;
  color: #ffeb3b;
  @media screen and (max-width: $break-medium) {
    line-height:0.45em;
    font-size:2em;
  }
  @media screen and (max-width: $break-small) {
    line-height:0.15em;
    font-size:1em;
  }
}
h2, h3 {
  margin-left:-15px!important;
  margin-right:-15px!important;
  font-family:'Roboto'; font-weight: 200; font-style: normal;
  text-transform: uppercase;
  line-height:0.5em;
  font-size:2.5em;
  width:100%!important;
  text-align: right;
  @media screen and (max-width: $break-medium) {
    line-height:0.45em;
    font-size:2em;
  }
  @media screen and (max-width: $break-small) {
    line-height:0.15em;
    font-size:1em;
  }
}

.btn.btn-getstarted {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0), 0 1px 6px rgba(0, 0, 0, 0);
  //margin-left: -27px;
}

.btn.btn-getstarted:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12)!important;
}


#getStartedBtnTxt {
  position:absolute;
  bottom:40px;
  width:100%;

  p {
    font-family:Roboto;
    font-weight:200;
    text-align: center;
    width:100%;
  }
}

.btn-position {
  position:relative;
  bottom:100px;
}