h1 {
  font-size: 40px;
  margin-bottom: 10px; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 32px; } }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 18px; } }

h2 {
  font-size: 36px; }

.navbar i {
  position: absolute;
  color: #E3F2FD;
  left: 180px; }
  @media screen and (max-width: 480px) {
    .navbar i {
      left: 20px;
      margin-top: 4px; } }

#materialPreloader {
  z-index: 999999;
  background: white;
  margin-top: 0px; }

.navbar-header .section-title {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  white-space: nowrap; }
  @media screen and (max-width: 480px) {
    .navbar-header .section-title {
      display: none; } }

.sidebar-wrapper {
  top: 50px; }

.sidebar-toggle {
  top: 45px;
  color: white !important; }

.nav > li {
  position: relative;
  display: block;
  float: left !important;
  margin-bottom: 20px !important; }

.navbar-nav {
  /* margin: 7.5px -15px; */
  top: 0 !important;
  margin-top: 0 !important;
  position: absolute !important;
  right: 0 !important; }

.nav-menu-divider {
  color: white;
  margin-top: 14px; }
  @media screen and (max-width: 1280px) {
    .nav-menu-divider {
      margin-top: 14px; } }

#floating-action-button .navbar {
  padding-top: 7px;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: right; }
#floating-action-button .btn {
  margin: -50px 20px 20px 20px;
  float: right;
  color: #009587; }
  @media screen and (max-width: 768px) {
    #floating-action-button .btn {
      display: none; } }
  @media screen and (max-width: 480px) {
    #floating-action-button .btn {
      display: none; } }
#floating-action-button h2 {
  padding: 14px;
  margin: 0;
  font-size: 16px;
  font-weight: 400; }

.section-content-header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #2196F3;
  top: 50px;
  box-shadow: 0px 2px 5px #667084;
  z-index: 1000; }
  .section-content-header p {
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    width: 200px;
    height: 50px;
    padding-top: 15px;
    margin-left: 50%; }
    @media screen and (max-width: 991px) {
      .section-content-header p {
        margin-left: auto; } }

.outerWrapper {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 150px;
  display: none; }
  .outerWrapper .innerWrapper {
    position: relative; }

.homewrapper {
  display: none;
  width: 100%;
  height: 100%; }

.alink-color {
  color: white !important;
  border: none !important; }

.panel-heading {
  padding: 25px 15px !important; }

.panel-icon-holder {
  float: right;
  position: relative;
  margin-top: -20px; }
  .panel-icon-holder i {
    font-size: 20px;
    color: white !important; }
  .panel-icon-holder a:hover {
    color: white !important; }

.panel-info-header {
  width: 100%;
  height: 50px;
  font-style: italic;
  background: #efefef; }
  .panel-info-header p {
    line-height: 50px;
    padding-left: 15px; }
    .panel-info-header p i {
      float: none; }
  .panel-info-header i {
    float: right;
    margin-top: -42px;
    margin-right: 15px; }

.profile-pills {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px; }
  .profile-pills ul li a:hover {
    background: #cdcdcd !important; }
  .profile-pills ul li.active a:hover {
    background: #337ab7 !important; }

.nav > li > a {
  color: #272727;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0; }

.nav > .active > a {
  color: white !important; }

.badge {
  background-color: #0f9d58; }

.profileHeader .list-group .list-group-separator:before {
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: right; }

.breadcrumb {
  padding: 16px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent !important;
  border-radius: 4px;
  margin-left: 210px; }
  .breadcrumb li a {
    color: white !important; }
  @media screen and (max-width: 991px) {
    .breadcrumb {
      margin-left: 5px; } }

.breadcrumb li.active {
  color: white !important; }

.navbar-right {
  float: right !important;
  margin-right: 0px !important; }

.logo {
  display: block;
  background: url(../img/right133.svg);
  background-position: 200% 50% !important;
  background-size: 70% !important;
  background-repeat: no-repeat; }

.logo2 {
  display: block;
  background: url(../img/division.svg);
  background-position: 170% 50% !important;
  background-size: 60% !important;
  background-repeat: no-repeat; }

.logo3 {
  display: block;
  background: url(../img/multiplication.svg);
  background-position: 230% 50% !important;
  background-size: 70% !important;
  background-repeat: no-repeat; }

.logo4 {
  display: block;
  background: url(img/division.svg);
  background-position: 160% 50% !important;
  background-size: 60% !important;
  background-repeat: no-repeat; }

h1 {
  margin-left: -15px !important;
  margin-right: -15px !important;
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  line-height: 0.5em;
  font-size: 2.5em;
  width: 100% !important;
  text-align: right;
  color: #ffeb3b; }
  @media screen and (max-width: 768px) {
    h1 {
      line-height: 0.45em;
      font-size: 2em; } }
  @media screen and (max-width: 480px) {
    h1 {
      line-height: 0.15em;
      font-size: 1em; } }

h2, h3 {
  margin-left: -15px !important;
  margin-right: -15px !important;
  font-family: 'Roboto';
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  line-height: 0.5em;
  font-size: 2.5em;
  width: 100% !important;
  text-align: right; }
  @media screen and (max-width: 768px) {
    h2, h3 {
      line-height: 0.45em;
      font-size: 2em; } }
  @media screen and (max-width: 480px) {
    h2, h3 {
      line-height: 0.15em;
      font-size: 1em; } }

.btn.btn-getstarted {
  box-shadow: 0 1px 6px transparent, 0 1px 6px transparent; }

.btn.btn-getstarted:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12) !important; }

#getStartedBtnTxt {
  position: absolute;
  bottom: 40px;
  width: 100%; }
  #getStartedBtnTxt p {
    font-family: Roboto;
    font-weight: 200;
    text-align: center;
    width: 100%; }

.btn-position {
  position: relative;
  bottom: 100px; }
